/* h1 {

    color:indigo;

}

.remove {

    color: green;
    background-color:lightyellow;
}

.down {

    color :pink;
    background-color:lightyellow;
} */

h1 {

    color: red;
    background-color:lightgoldenrodyellow;
    
    }
    
    .remove {
        color:royalblue;
        background-color:lightcyan;
    }
    
    .down {
    color:pink;
    background-color:lightslategrey;
    }





    